.app-toolbar {
  position: relative;
  display: flex;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background: #012a5b;
  height: 55px ;
  align-items: center;
  padding-left: 8px; 
  font-size: 14px;
}
.title {
  font-weight: 500;
  font-size: 1.25rem;
}
.spacer {
  flex: 1 1 auto;
}

.icon-button:hover {
  background-color: #ffffff;
  border-radius: 50%;
}

button[mat-icon-button] {
  background-color: #f0f0f0;
  border-radius: 4px;
  margin-left: 0px;
}

.app-toolbar .sidenav-nav-item {
  width: 100%;
  margin-bottom: 0.625rem;
}
.app-toolbar .sidenav-nav-item .sidenav-nav-link {
  display: flex;
  align-items: center;
  height: 3rem;
  color: #f3f3f3;
  text-decoration: none;
  border-radius: 0.625rem;
  transition: all 0.3s ease;
}
.app-toolbar .sidenav-nav-item .sidenav-nav-link .sidenav-link-text {
  margin-left: 1.5rem;
}
.app-toolbar .sidenav-nav-item:hover .sidenav-nav-link {
  background-color: #012a5b;
  color: white;
}

.sidenav-nav-link mat-icon {
  color: #fff;
  transition: color 0.3s ease;
}

.sidenav-nav-link:hover mat-icon {
  color:white ; 
}

.header-banner h1 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.header-banner {
  position: absolute;
  left: 40%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  white-space: nowrap;
}

.menu-icon-wrapper {
  margin-right: 24px; /* spacing from the right */
  margin-left: 0px;    /* shift it slightly from the left edge */
  display: flex;
  align-items: center;
}
