<mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Dormant">
        <div class="flex-container">
            <div class="flex-item">
                <app-chart-by-occupation></app-chart-by-occupation>
            </div>
            <div class="flex-item-bar-chart">
                <app-chart-by-region></app-chart-by-region>
            </div>
            <div class="flex-item-bar-chart">
                <app-chart-by-region></app-chart-by-region>
            </div>
            <div class="flex-item">
                <app-chart-by-age></app-chart-by-age>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Financially Excluded">
        <div class="flex-container">
            <div class="flex-item">
                <app-chart-by-occupation></app-chart-by-occupation>
            </div>
            <div class="flex-item-bar-chart">
                <app-chart-by-region></app-chart-by-region>
            </div>
            <div class="flex-item-bar-chart">
                <app-chart-by-region></app-chart-by-region>
            </div>
            <div class="flex-item">
                <app-chart-by-age></app-chart-by-age>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>